body{margin: 0}
#container{
    position: absolute;
    width: 370px;
    height: 370px;
    border-radius: 8px;
    left: 0;right:0;top:0;bottom:0;
    margin: auto;
    background: url("bg.jpg");
}

#container div{
    position: absolute;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    border-radius: 8px;
    color: #736a61;
    transition: all 0.1s;
}

#btn{
    position: absolute;
    top:600px;
    left: 0;right: 0;
    width: 80px;
    height: 30px;
    margin:auto;
}


